// Color pallette
$color-text: #080708;
$color-blue: #3B60E4;
$color-green: #3be495;
$color-red: #e43b3b;
$color-purple: #7765E3;  

// Other colors
$color-E5: #e5e5e5;

.text-blue {
    color: $color-blue;
}

.text-purple {
    color: $color-purple;
}