@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap');
@import '../colors';
@import '../mixins/font-size';

* {
	font-family: 'Source Sans 3', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-text;
	margin: 0;
	margin-bottom: 10px;
}

h1 {
	@include font-size(40);
}

h2 {
	@include font-size(34);
}

h3 {
	@include font-size(28);
}

h4 {
	@include font-size(24);
}

h5 {
	@include font-size(20);
}

p {
	color: $color-text;
	@include font-size();
	margin-top: 0;
	margin-bottom: 10px;
}

a {
	color: $color-blue;
	text-decoration: none;

	&.reset-color {
		color: $color-text;
	}
}

.underline-blue {
	display: inline-block;
	background: linear-gradient(0deg, #{$color-blue}9e 0%, #{$color-blue}9e 40%, white 40%, white 100%);
}