@import '../colors';
@import '../mixins/font-size';

@mixin basicInput($verticalPadding: 12, $horizontalPadding: 16) {
    @include font-size();
    border-radius: 4px;
    padding: $verticalPadding + px $horizontalPadding + px;
    background: white;
    width: 100%;
    outline: none;
}

input, select {
    @include basicInput();
    border: 1px solid $color-E5;

    &.valid {
        border: 1px solid $color-green;
    }

    &.invalid {
        border: 1px solid $color-red;
    }

    &:focus:not(.valid):not(.invalid) {
        border: 1px solid $color-blue;
    }
}

button {
    @include basicInput();
    cursor: pointer;
    border: 0;
    background: $color-blue;
    color: white;
}

.input {
    &__wrapper + &__wrapper {
        margin-top: 24px;
    }

    &__checkbox-wrapper-label {
        display: block;
        position: relative;
        padding-left: 28px;
        cursor: pointer;

        input[type=checkbox] {
            display: none;

            &:checked ~ .input__checkbox-indicator {
                background: $color-blue;
    
                &::after {
                    display: block;
                    position: absolute;
                    left: 7px;
                    top: 4px;
                    width: 3px;
                    height: 7px;
                    border: solid #fff;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }

    &__checkbox-indicator {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        border: 1px solid $color-E5;
        padding: 4px;

        &::after {
            content: "";
            display: none;
        }
    }
}
