@import '../colors';

.section {
    padding: 60px 0;

    &-title {
        margin-bottom: 24px;
    
        &.has-subtitle {
            margin-bottom: 10px;
    
            & + p {
                margin-bottom: 24px;
            }
        }
    }
}

.container {
    width: 1190px;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}