@import '../colors';
@import '../mixins/font-size';

.back-link {
    display: inline-flex;
    margin-bottom: 24px;
    align-items: center;
    color: $color-blue;
    text-decoration: underline;
    @include font-size();
}


li {
	margin-bottom: 12px;
}

.section {
    padding: 60px 0;

    &-title {
        margin-bottom: 24px;
    
        &.has-subtitle {
            margin-bottom: 10px;
    
            & + p {
                margin-bottom: 24px;
            }
        }
    }
}

.container {
    width: 1190px;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}