@import '../colors';

nav {
    z-index: 9999;
}

.navbar {
    border-bottom: 1px solid $color-E5;
    padding: 12px 20px;
    background: #ffffff;
    
    &--content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1190px;
        max-width: 100%;
        margin: 0 auto;

        & > &__logo-wrapper > img {
            height: 64px;
        }
    
        & > &__links-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            a {
                color: $color-text;
                display: inline-block;
    
                &:hover {
                    color: $color-blue;
                }

                & + a {
                    margin-left: 14px;
                }
            }
        }
    }
}